<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
	<style>
		body {
			background: #F2F2F2 url(images/backround.jpg);
		}
	</style>
    <title>ФР</title>
	<link href='https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&family=Russo+One&display=swap' rel='stylesheet' type='text/css'>
	<link href="styles/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
	<h1>Фронтир</h1>
	<form>
		<h2><label for="count">Выберете категорию игр</label></h2>
		<div class="form_radio_btn_1">
			<input id="radio-1" type="radio" name="radio1" value="1" checked>
			<a onclick="document.location.href = 'six.html';" style="cursor:pointer;"><label for="radio-1" >Пофаниться</label></a>
			<script src="scripts/five1.js"></script>
		</div>
		
		<div class="form_radio_btn_1">
			<input id="radio-2" type="radio" name="radio1" value="2">
			<script src="scripts/five2.js"></script>
			<a onclick="document.location.href = 'seven.html';" style="cursor:pointer;"><label for="radio-2">Подумать</label></a>
		</div>
	</form>
  </body>
</html>