<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
	<style>
		body {
			background: #F2F2F2 url(/static/backround.jpg);
		}
	</style>
    <title>ФР</title>
	<link href='https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&family=Russo+One&display=swap' rel='stylesheet' type='text/css'>
	<link href="/static/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
	<h1>Фронтир</h1>
	<form method="post" action="/3">
		<p><input type="submit" value="Следующий игрок" class="start"></p>
	</form>
  </body>
</html>