<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
	<style>
		body {
			background: #F2F2F2 url(/static/backround.jpg);
		}
	</style>
    <title>ФР</title>
	<link href='https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&family=Russo+One&display=swap' rel='stylesheet' type='text/css'>
	<link href="/static/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
	<h1>Фронтир</h1>
	<form action="/8" method="post">
		<h2><label for="count">Выберете жанры игры</label></h2>
		<label class="checkbox-btn1">
			<input type="checkbox" name="checkbox2" value="евро">
			<span>Евро</span>
		</label>
	
		<label class="checkbox-btn1">
			<input type="checkbox" name="checkbox2" value="попиздиться">
			<span>Подраться</span>
		</label>
	
		<label class="checkbox-btn1">
			<input type="checkbox" name="checkbox2" value="area_control">
			<span>Area control</span>
		</label>
	
		<label class="checkbox-btn1">
			<input type="checkbox" name="checkbox2" value="колодострой">
			<span>Колодострой</span>
		</label>
	
		<label class="checkbox-btn1">
			<input type="checkbox" name="checkbox2" value="городострой">
			<span>Городострой</span>
		</label>
		
		<label class="checkbox-btn1">
			<input type="checkbox" name="checkbox2" value="стратегии">
			<span>Стратегии</span>
		</label>
	
		<label class="checkbox-btn1">
			<input type="checkbox" name="checkbox2" value="кооператив">
			<span>Кооператив</span>
		</label>
	
		<label class="checkbox-btn1">
			<input type="checkbox" name="checkbox2" value="скрытые_роли">
			<span>Скрытые роли</span>
		</label>
	
		<label class="checkbox-btn1">
			<input type="checkbox" name="checkbox2" value="приключенческие_кампании">
			<span>Приключенческие кампании</span>
		</label>
	
		<label class="checkbox-btn1">
			<input type="checkbox" name="checkbox2" value="лавкрафт">
			<span>Лавкрафт</span>
		</label>
		
		<label class="checkbox-btn1">
			<input type="checkbox" name="checkbox2" value="детектив">
			<span>Детектив</span>
		</label>
		<p><input type="submit" class="button3" id="time" value="Продолжить"></p>
	</form>
  </body>
</html>