<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
	<style>
		body {
			background: #F2F2F2 url(static/images/backround.jpg);
		}
	</style>
    <title>ФР</title>
	<link href='https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&family=Russo+One&display=swap' rel='stylesheet' type='text/css'>
	<link href="static/styles/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
	<h1>Фронтир</h1>
	<form action="four.html">
		<h2><label for="count">Выберете сложность игры</label></h2>
		<div class="form_radio_btn_2">
			<input id="radio-1" type="radio" name="radio2" value="1" checked>
			<label for="radio-1" >Легкий</label>
		</div>
		
		<div class="form_radio_btn_2">
			<input id="radio-2" type="radio" name="radio2" value="3">
			<label for="radio-2">Средний</label>
		</div>
 
		<div class="form_radio_btn_2">
			<input id="radio-3" type="radio" name="radio2" value="5">
			<label for="radio-3">Сложный</label>
		</div>
		<p><input type="submit" class="button3" id="time" value="Продолжить"></p>
	</form>
	<script src="static/scripts/three.js"></script>
  </body>
</html>